
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.profile-image {
    max-width: 50%;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}